{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

# renovate: depName=aquaproj/aqua datasource=github-releases
current_aqua_version=v2.25.0

if [ ! $(command -v aqua) ] || [ $(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $current_aqua_version ]; then
  echo "installing / upgrading aqua"
  curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v2.3.2/aqua-installer | bash -s -- -v $current_aqua_version
  # AQUA_GLOBAL_CONFIG={{ .chezmoi.homeDir }}/.config/aqua.yaml rm -rf {{ .chezmoi.homeDir }}/.local/share/aquaproj-aqua && aqua install -a
fi

# This script will run whenever I added something to .config/aqua.yaml
# .config/aqua.yaml hash: {{ include "dot_config/aqua.yaml.tmpl" | sha256sum }}
aqua install -a

{{ end -}}
