{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
#!/bin/bash

set -eufo pipefail

repositories=(
    ppa:fish-shell/release-3
    ppa:neovim-ppa/stable
)
packages=(
    fish
    neovim
    tmux
    curl
    python3-neovim
    git
    thefuck
    exa
)
snaps=()

{{ if (not .headless) -}}
packages+=(
    alacritty
)
{{ end -}}

for repository in ${repositories[@]}; do
{{ if ne .chezmoi.username "root" -}}
    sudo add-apt-repository -y $repository
{{ else -}}
    add-apt-repository -y $repository
{{ end -}}
done

for package in ${packages[@]}; do
    if [ ! $(dpkg-query -W -f='installed' $package 2> /dev/null) ]; then
{{ if ne .chezmoi.username "root" -}}
        sudo apt install -y $package
{{ else -}}
        apt install -y ${packages[@]}
{{ end -}}
    fi
done

{{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
for snap in ${snaps[@]}; do
{{   if ne .chezmoi.username "root" -}}
    sudo snap install $snap
{{   else -}}
    snap install $snap
{{   end -}}
done
{{ end -}}

{{ end -}}
