{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
#!/bin/bash

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Ubuntu Packages <<<<<\033[0m"

# List of ppa repositories to add
repositories=(
  ppa:neovim-ppa/stable
  ppa:git-core/ppa
)

# List of packages to install
packages=(
  curl
  git
  libluajit-5.1-dev
  thefuck
  unzip
  python3-venv
)

# List of snap packages to install
snaps=()

{{ if (not .headless) -}}
packages+=(
)
{{ end -}}

for repository in ${repositories[@]}; do
  ppa_repo_source=${repository#ppa:}
  if ! $(apt-cache policy | grep http | awk '{print $2}' | sort -u | grep $ppa_repo_source &> /dev/null); then
    echo "adding $repository repository to apt"
{{ if ne .chezmoi.username "root" -}}
    sudo add-apt-repository -y $repository
{{ else -}}
    add-apt-repository -y $repository
{{ end -}}
    echo "false"
  fi
done

for package in ${packages[@]}; do
  if ! $(dpkg-query -W -f='installed' $package &> /dev/null); then
    echo "installing $package"
{{ if ne .chezmoi.username "root" -}}
    sudo apt install -y $package
{{ else -}}
    apt install -y ${packages[@]}
{{ end -}}
  fi
done

# renovate: depName=wez/wezterm datasource=github-releases
current_wezterm_version=20240128-202157-1e552d76

if [ ! $(command -v wezterm) ] || [ $(wezterm -V | head -n1 | cut -d" " -f2) != "$current_wezterm_version" ]; then
  echo "installing / upgrading wezterm"
  curl -Lo /tmp/wezterm https://github.com/wez/wezterm/releases/download/"$current_wezterm_version"/WezTerm-"$current_wezterm_version"-Ubuntu20.04.AppImage
  chmod +x /tmp/wezterm
  mv /tmp/wezterm {{ .chezmoi.homeDir }}/.local/bin/wezterm
fi

{{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
for snap in ${snaps[@]}; do
  echo "installing $snap using snap"
{{   if ne .chezmoi.username "root" -}}
  sudo snap install $snap
{{   else -}}
  snap install $snap
{{   end -}}
done
{{ end -}}

echo -e "\033[0;32m>>>>> Finish Setting Up Ubuntu Packages <<<<<\033[0m"
{{ end -}}
