{{ if (and (eq .chezmoi.os "linux") (ne .chezmoi.username "root") ( eq .chezmoi.osRelease.id "ubuntu" "debian")) -}}
#!/bin/bash

set -eufo pipefail

{{   if not .homebrew -}}
##--NodeJS--##
# renovate: depName=node datasource=node
current_nodejs_version=v17.1.0

if [ ! $(command -v node) ] || [ $(node -v) != "$current_nodejs_version" ]; then
    curl -fsSL install-node.vercel.app | sudo bash -s -- --yes --version $current_nodejs_version
fi

##--FZF--##
# renovate: depName=junegunn/fzf datasource=github-releases
current_fzf_version=0.28.0

if [ ! $(command -v fzf) ] || [ $(fzf --version | head -n1 | cut -d" " -f1) != "$current_fzf_version" ]; then
    curl -fL https://github.com/junegunn/fzf/releases/download/$current_fzf_version/fzf-$current_fzf_version-linux_{{ .chezmoi.arch }}.tar.gz | sudo tar -xzf - -oC /usr/local/bin/
    sudo chmod +x /usr/local/bin/fzf
fi

##--Starship--##
# renovate: depName=starship/starship datasource=github-releases
current_starship_version=v1.0.0

if [ ! $(command -v starship) ] || [ $(starship --version | head -n1 | cut -d" " -f2 | sed "s/^/v/") != "$current_starship_version" ]; then
    curl -fsSL https://starship.rs/install.sh | bash -s --yes
fi

{{     if eq .chezmoi.arch "amd64" -}}
##--zoxide--##
# renovate: depName=ajeetdsouza/zoxide datasource=github-releases
current_zoxide_version=v0.8.0

if [ ! $(command -v zoxide) ] || [ $(zoxide --version | head -n1 | cut -d" " -f2) != "$current_zoxide_version" ]; then
    curl -fL https://github.com/ajeetdsouza/zoxide/releases/download/$current_zoxide_version/zoxide-$current_zoxide_version-x86_64-unknown-linux-musl.tar.gz | sudo tar -xzf - -oC /usr/local/bin/ zoxide
    sudo chmod +x /usr/local/bin/zoxide
fi

##--ripgrep--##
# renovate: depName=BurntSushi/ripgrep datasource=github-releases
current_ripgrep_version=13.0.0

if [ ! $(command -v rg ) ] || [ $(rg --version | head -n1 | cut -d" " -f2) != "$current_ripgrep_version" ]; then
    curl -fL https://github.com/BurntSushi/ripgrep/releases/download/$current_ripgrep_version/ripgrep-$current_ripgrep_version-x86_64-unknown-linux-musl.tar.gz | sudo tar -xzf - -oC /usr/local/bin/ --wildcards --no-anchored '*/rg' --strip-components 1
    sudo chmod +x /usr/local/bin/rg
fi

##--fd--##
# renovate: depName=sharkdp/fd datasource=github-releases
current_fd_version=v8.3.0

if [ ! $(command -v fd) ] || [ $(fd --version | head -n1 | cut -d" " -f2 | sed "s/^/v/") != "$current_fd_version" ]; then
    curl -fL https://github.com/sharkdp/fd/releases/download/$current_fd_version/fd-$current_fd_version-x86_64-unknown-linux-musl.tar.gz | sudo tar -xzf - -oC /usr/local/bin/ --wildcards --no-anchored '*/fd' --strip-components 1
    sudo chmod +x /usr/local/bin/fd
fi

##--bat--##
# renovate: depName=sharkdp/bat datasource=github-releases
current_bat_version=v0.18.3

if [ ! $(command -v bat) ] || [ $(bat --version | head -n1 | cut -d" " -f | sed "s/^/v/") != "$current_bat_version" ]; then
    curl -fL https://github.com/sharkdp/bat/releases/download/$current_bat_version/bat-$current_bat_version-x86_64-unknown-linux-musl.tar.gz | sudo tar -xzf - -oC /usr/local/bin/ --wildcards --no-anchored '*/bat' --strip-components 1
    sudo chmod +x /usr/local/bin/bat
fi

{{     end -}}

{{     if .agekey -}}
##--age--##
# renovate: depName=FiloSottile/age datasource=github-tags
current_age_version=v1.0.0

if [ ! $(command -v age) ] || [ $(age --version) != "$current_age_version" ]; then
    curl -fL https://github.com/FiloSottile/age/releases/download/$current_age_version/age-$current_age_version-linux-{{ .chezmoi.arch }}.tar.gz | sudo tar -xzf - -oC /usr/local/bin/ --wildcards --no-anchored 'age/age*' --strip-components 1
    find /usr/local/bin -name age* -exec sudo chmod +x {} +
fi
{{     end -}}

{{   else -}}
function install_or_upgrade {
    if brew ls --version "$1" >/dev/null; then
        HOMEBREW_NO_AUTO_UPDATE=1 brew upgrade "$1"
    else
        HOMEBREW_NO_AUTO_UPDATE=1 brew install "$1"
    fi
}

install_or_upgrade node
install_or_upgrade fzf
install_or_upgrade starship
install_or_upgrade zoxide
install_or_upgrade ripgrep
install_or_upgrade fd
install_or_upgrade bat
{{     if .agekey -}}
install_or_upgrade age
{{     end -}}
{{     if not .headless -}}
install_or_upgrade go
{{     end -}}
{{   end -}}

{{ end -}}
