{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Neovim <<<<<\033[0m"
nvim --headless -c 'autocmd User PackerComplete quitall' -c 'PackerSync'

# install null-ls sources
npm install @fsouza/prettierd
npm install markdownlint-cli
npm install write-good

{{   if (eq .chezmoi.osRelease.id "arch") -}}
{{     if ne .chezmoi.username "root" -}}
sudo pacman -S --noconfirm shfmt ansible-lint shellcheck yamllint
{{     else -}}
pacman -S --noconfirm shfmt ansible-lint shellcheck yamllint
{{     end -}}
{{   else if (eq .chezmoi.osRelease.id "ubuntu" "debian") -}}
{{     if ne .chezmoi.username "root" -}}
sudo snap install shfmt
sudo apt install -y ansible-lint shellcheck yamllint
{{     else -}}
snap install shfmt
apt install -y ansible-lint shellcheck yamllint
{{     end -}}
{{   end -}}

echo -e "\033[0;32m>>>>> Finish Setting Up Neovim <<<<<\033[0m"
{{ end -}}
