{{ if (and (eq .chezmoi.os "linux" ) (not .headless)) -}}
#!/bin/bash

set -eufo pipefail

# List of Nerd Fonts font to install
nerdfonts_fonts=(UbuntuMono Hack)
font_dir=~/.local/share/fonts

# renovate: depName=ryanoasis/nerd-fonts
current_nerdfonts_version=v2.1.0

updated_counter=0
for font in ${nerdfonts_fonts[@]}; do
  if $(fc-list | grep -i "$font Nerd Font" &> /dev/null); then
    echo "$font already installed"
  else
    echo "installing $font"
    mkdir -p $font_dir/$font
    curl -fLo $font_dir/$font.zip https://github.com/ryanoasis/nerd-fonts/releases/download/$current_nerdfonts_version/$font.zip && unzip -o "$font_dir/$font.zip" -d $font_dir/$font && rm $font_dir/$font.zip
    updated_counter=$((updated_counter + 1))
  fi
done

# reset font cache
if [ $updated_counter -gt 0 ]; then
  fc-cache -vf "$font_dir"
fi
{{ end -}}
