#!/bin/bash

echo -e "\033[0;32m>>>>> Begin Executing Cleanup Job <<<<<\033[0m"

# This script will ensure that I fixes changes I have made in the past
# For example, I used to install stuffs in /usr/local/bin but now I'm not anymore
# So this script will make sure I cleaned up my old unused stuffs

set -eufo pipefail

function not_needed_executable () {
  local dir=$2
  local path=$dir/$1
  local current_path
  current_path=$(command -v "$1")

  if [ "$current_path" != "$path" ] && [ -f "$path" ]; then
    if [ "$EUID" -ne 0 ]; then
      echo "deleted $path, not needed anymore"
      sudo rm "$path"
    else
      echo "deleted $path, not needed anymore"
      rm "$path"
    fi
  fi
}

function not_needed_directory () {
  local dir=$1
  if [ -d "$dir" ]; then
    if [ "$EUID" -ne 0 ]; then
      sudo rm -rf "$dir"
      echo "deleted $dir directory, not needed anymore"
    else
      rm -rf "$dir"
      echo "deleted $dir directory, not needed anymore"
    fi
  fi
}

not_needed_executable "kubectl" "{{ .chezmoi.homeDir }}/.local/bin"
not_needed_executable "flux" "{{ .chezmoi.homeDir }}/.local/bin"
not_needed_executable "kustomize" "/usr/local/bin"
not_needed_executable "sops" "/usr/local/bin"
not_needed_executable "fzf" "/usr/local/bin"
not_needed_executable "starship" "/usr/local/bin"
not_needed_executable "zoxide" "/usr/local/bin"
not_needed_executable "rg" "/usr/local/bin"
not_needed_executable "fd" "/usr/local/bin"
not_needed_executable "bat" "/usr/local/bin"
not_needed_executable "age" "/usr/local/bin"
not_needed_executable "age-keygen" "/usr/local/bin"
not_needed_executable "chezmoi" "{{ .chezmoi.homeDir }}/.local/bin"
not_needed_executable "node" "/usr/local/bin"

not_needed_directory "{{ .chezmoi.homeDir }}/.local/share/nvim/lsp_servers"

if [ "$(command -v brew)" ]; then
  echo "uninstalling brew"
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/uninstall.sh)"
fi

echo -e "\033[0;32m>>>>> Finish Executing Cleanup Job<<<<<\033[0m"
