{{ if (and (eq .chezmoi.os "linux") (ne .chezmoi.username "root") ( eq .chezmoi.osRelease.id "ubuntu" "debian")) -}}
#!/bin/bash

set -eufo pipefail

echo -e "\033[0;32m>>>>> Begin Setting Up Binaries <<<<<\033[0m"

##--NodeJS--##
# renovate: depName=node datasource=node
current_nodejs_version=18.18.2

if [ ! $(command -v node) ] || [ $(node -v) != "$current_nodejs_version" ]; then
  echo "installing / upgrading NodeJS"
  curl -fsSL install-node.vercel.app | sudo bash -s -- --yes --version $current_nodejs_version
fi

echo -e "\033[0;32m>>>>> Finish Setting Up Binaries <<<<<\033[0m"
{{ end -}}
