{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash

set -eufo pipefail

# renovate: depName=aquaproj/aqua datasource=github-releases
current_aqua_version=v0.10.2

if [ ! $(command -v aqua) ] || [ $(aqua -v | head -n1 | cut -d" " -f3 | sed "s/^/v/") != $current_aqua_version ]; then
  echo "installing / upgrading aqua"
  curl -sSfL https://raw.githubusercontent.com/aquaproj/aqua-installer/v0.7.0/aqua-installer | bash -s -- -i {{ .chezmoi.homeDir }}/.local/bin/aqua
  rm -rf {{ .chezmoi.homeDir }}/.local/share/aquaproj-aqua && aqua install -a
fi

{{ end -}}
