{{ if (eq .chezmoi.os "linux") -}}
#!/bin/bash
set -eufo pipefail

echo -e "\0033[0;32m>>>>> Begin Setting Up Fish Shell <<<<<\033[0m"

# Installing fish
{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
ppa_repo_source=fish-shell/release-3
if ! $(apt-cache policy | grep http | awk '{print $2}' | sort -u | grep $ppa_repo_source &> /dev/null); then
  echo "adding ppa:$ppa_repo_source repository to apt"
{{     if ne .chezmoi.username "root" -}}
  sudo add-apt-repository -y ppa:$ppa_repo_source
{{     else -}}
  add-apt-repository -y ppa:$ppa_repo_source
{{     end -}}
fi
if ! $(dpkg-query -W -f='installed' fish &> /dev/null); then
  echo "installing fish"
{{     if ne .chezmoi.username "root" -}}
  sudo apt install -y fish
{{     else -}}
  apt install -y fish
{{     end -}}
fi

{{   else if eq .chezmoi.osRelease.id "arch" -}}
if [ "$(pacman -Qq fish 2> /dev/null)" != fish ]; then
  echo "installing fish"
{{     if ne .chezmoi.username "root" -}}
  sudo pacman -S --noconfirm fish
{{     else -}}
  pacman -S --noconfirm fish
{{     end -}}
fi
{{   end -}}

# Set fish as default shell
if [ $SHELL != $(which fish) ]; then
  echo "Changing default shell to fish"
  chsh -s $(which fish)
fi

echo -e "\0033[0;32m>>>>> Finish Setting Up Fish Shell <<<<<\033[0m"
{{ end -}}
