{{ if (and (eq .chezmoi.os "linux" ) (not .headless)) -}}
#!/bin/bash

set -eufo pipefail

# Check if font exists
fc-list | grep -i "UbuntuMono Nerd Font\|Hack Nerd Font Mono" &> /dev/null && exit 0

font_dir=~/.local/share/fonts

mkdir -p $font_dir
curl -fLo "$font_dir/Ubuntu Mono Nerd Font Complete.ttf" https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/UbuntuMono/Regular/complete/Ubuntu%20Mono%20Nerd%20Font%20Complete.ttf
curl -fLo "$font_dir/Droid Sans Mono Nerd Font Complete Mono.otf" https://github.com/ryanoasis/nerd-fonts/raw/master/patched-fonts/Hack/Regular/complete/DroidSansMono/complete/Droid%20Sans%20Mono%20Nerd%20Font%20Complete%20Mono.otf

# reset font cache
if [ $(command -v fc-cache) ]; then
    fc-cache -vf "$font_dir"
fi
{{ end -}}
