window {
    background: #1A1B26;
    opacity: 0.9;
    border-radius: 10px;
    border-style: none;
    border-width: 1px;
}

#box {
    padding: 3px;
}

button, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: #202124;
}

button {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    color: #C0CAF5;
    font-size: 12px;
}

button:hover {
    background: #E0AF68;
    border-radius: 10px;
}

button:focus {
    box-shadow: 0 0 2px;
}
