# Workaround for fdfind
if type -q fdfind
  function fd --wraps=fdfind --description 'fdfind should be fd'
    fdfind $argv
  end
end

# Workaround for batcat
if type -q batcat
  function bat --wraps=batcat --description 'batcat should be bat'
    batcat
  end
end

# Use cat if bat is not installed
if not type -q bat
  set fzf_preview_file_cmd cat
end

# Use eza if possible
if type -q eza
  set fzf_preview_dir_cmd eza --all --color=always
end

# FZF options
set -x FZF_DEFAULT_OPTS '--cycle --layout=reverse --border --height=90% --preview-window=wrap --marker="*" --color=fg:white,bg:black,hl:red,fg+:white,hl+:red,info:yellow,prompt:blue,pointer:magenta,marker:magenta,spinner:green,header:blue,border:white'
# Show hidden files except some directories
set fzf_fd_opts --hidden --exclude=.git --exclude=.github --exclude=.cache

# FZF keybindings
fzf_configure_bindings --git_log=\cg --git_status=\cs --variables=\cv --directory=\cf --history=\cr
