fish_add_path {{ .chezmoi.homeDir }}/.local/bin
fish_add_path {{ .chezmoi.homeDir }}/node_modules/.bin
fish_add_path {{ .chezmoi.homeDir }}/go/bin
fish_add_path {{ .chezmoi.homeDir }}/.local/share/aquaproj-aqua/bin
{{ if .kubernetes -}}
fish_add_path {{ .chezmoi.homeDir }}/.krew/bin
{{ end -}}
