[user]
  email = budimanjojo@gmail.com
  name = budimanjojo
  signingKey = {{ .chezmoi.homeDir }}/.ssh/id_rsa.pub
[commit]
  template = {{ .chezmoi.homeDir }}/.gitcommit-message
  gpgSign = true
[gpg]
  format = ssh
{{- if (eq .chezmoi.hostname "ansible-server") }}
[status]
  submodulesummary = true
{{- end }}
