{{ if (and (eq .chezmoi.os "linux") (not .headless)) -}}
include "{{ .chezmoi.homeDir }}/.local/share/themes/tokyonight_dark/gtk-2.0/gtkrc"

style "user-font" {
	font_name = "UbuntuMono Nerd Font Mono 12"
}

widget_class "*" style "user-font"

gtk-font-name="UbuntuMono Nerd Font Mono 12"

include "{{ .chezmoi.homeDir }}/.gtkrc.mine"
{{- end}}
