{{ if (eq .chezmoi.osRelease.id "arch") -}}
#!/bin/bash

set -eufo pipefail

packages=(
    fish
    neovim
    tmux
    curl
    python-pynvim
    npm
    git
    fd
    bat
)

{{ if (not .headless) -}}
packages+=(
    alacritty
)
{{ end -}}

{{ if .i3wm -}}
packages+=(
    i3-gaps
    i3lock
    py3status
    rofi
    dunst
    conky
    xfce4-panel
)
{{ end -}}

{{ if .swaywm -}}
packages+=(
    sway
    rofi
    waybar
    dunst
)

{{ end -}}
sudo pacman -Syu

sudo pacman -S --noconfirm ${packages[@]}

{{ end -}}
