{{ if (eq .chezmoi.osRelease.id "arch") -}}
#!/bin/bash

set -eufo pipefail

packages=(
    fish
    neovim
    tmux
    curl
    python-pynvim
    npm
    git
    fzf
    fd
    bat
    thefuck
)

aur_packages=()

{{ if (not .headless) -}}
packages+=(
    alacritty
)
{{ end -}}

{{ if .i3wm -}}
packages+=(
    i3-gaps
    i3lock
    py3status
    rofi
    dunst
    conky
    xfce4-panel
)
{{ end -}}

{{ if .swaywm -}}
packages+=(
    sway
    rofi
    waybar
    dunst
)

aur_packages+=(
    nwg-dock
)

{{ end -}}

{{ if ne .chezmoi.username "root" -}}
sudo pacman -Syu --noconfirm
{{ else -}}
pacman -Syu --noconfirm
{{ end -}}

for package in ${packages[@]}; do
    if [ ! $(pacman -Qi $package 2> /dev/null) ]; then
{{ if ne .chezmoi.username "root" -}}
        sudo pacman -S --noconfirm $package
{{ else -}}
        pacman -S --noconfirm $package
{{ end -}}
    fi
done

for aur_package in ${aur_packages[@]}; do
    if [ ! $(pacman -Qi $aur_package 2> /dev/null) ]; then
    yay -S --noconfirm $aur_package
done

{{ end -}}
