{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
#!/bin/bash

set -eufo pipefail

repositories=(
    ppa:fish-shell/release-3
)
packages=(
    fish
    neovim
    tmux
    curl
    python3-neovim
    nodejs
    git
    fd-find
)
snaps=()

{{ if (not .headless) -}}
packages+=(
    alacritty
)
{{ end -}}

for repository in ${repositories[@]}; do
    sudo add-apt-repository -y $repository
done

sudo apt update

sudo apt install -y ${packages[@]}

{{ if (eq .chezmoi.osRelease.id "ubuntu") -}}
for snap in ${snaps[@]}; do
    sudo snap install $snap
done
{{ end -}}

{{ end -}}
