{{ if (and (.homebrew) (ne .chezmoi.username "root")) -}}
#!/bin/bash

set -eufo pipefail

if [ ! -d /home/linuxbrew/.linuxbrew ]; then
    sudo apt install build-essential procps curl file git
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
fi
{{ end -}}
