{{ if (and ( eq .chezmoi.os "linux") .kubernetes) -}}
{{   if ne .chezmoi.username "root" -}}
#!/bin/bash

set -eufo pipefail

##--kubectl--##
# renovate: depName=kubernetes/kubernetes datasource=github-tags
current_kubectl_version=v1.22.4

if [ ! $(command -v kubectl) ] || [ $(kubectl version --short --client | cut -d " " -f3) != $current_kubectl_version ]; then
    sudo curl -fL https://dl.k8s.io/release/$current_kubectl_version/bin/linux/{{ .chezmoi.arch }}/kubectl -o /usr/local/bin/kubectl
    sudo chmod +x /usr/local/bin/kubectl
fi

##--flux--##
# renovate: depName=fluxcd/flux2 datasource=github-releases
current_flux_version=v0.23.0

if [ ! $(command -v flux) ] || [ $(flux version --client | cut -d " " -f2) != $current_flux_version ]; then
    curl -s https://fluxcd.io/install.sh | sudo bash
fi

##--kustomize--##
# renovate: depName=kubernetes-sigs/kustomize datasource=github-releases
current_kustomize_version=kustomize/v4.4.1
current_kustomize_version_short=$(echo $current_kustomize_version | cut -d"/" -f2)

if [ ! $(command -v kustomize) ] || [ $(kustomize version --short | cut -d"/" -f2 | cut -d" " -f1) != $current_kustomize_version_short ]; then
    curl -fL https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2F${current_kustomize_version_short}/kustomize_${current_kustomize_version_short}_linux_{{ .chezmoi.arch }}.tar.gz | sudo tar -xzf - -oC /usr/local/bin/
    sudo chmod +x /usr/local/bin/kustomize
fi

{{     if .agekey -}}
##--age--##
# renovate: depName=FiloSottile/age datasource=github-tags
current_age_version=v1.0.0

if [ ! $(command -v age) ] || [ $(age --version) != "$current_age_version" ]; then
    curl -fL https://github.com/FiloSottile/age/releases/download/$current_age_version/age-$current_age_version-linux-{{ .chezmoi.arch }}.tar.gz | sudo tar -xzf - -oC /usr/local/bin/ --wildcards --no-anchored 'age/age*' --strip-components 1
    find /usr/local/bin -name 'age*' -exec sudo chmod +x {} +
fi

{{     end -}}

##--SOPS--##
# renovate: depName=mozilla/sops datasource=github-releases
current_sops_version=v3.7.1

if [ ! $(command -v sops) ] || [ $(sops -v | cut -d " " -f2 | sed "s/^/v/" | head -n 1) != "$current_sops_version" ]; then
    sudo curl -fL https://github.com/mozilla/sops/releases/download/$current_sops_version/sops-$current_sops_version.linux -o /usr/local/bin/sops
    sudo chmod +x /usr/local/bin/sops
fi
{{   end -}}
{{ end -}}
