#!/usr/bin/env fish

mkdir -p $__fish_config_dir/completions

if type -q chezmoi
    chezmoi completion fish --output=$__fish_config_dir/completions/chezmoi.fish
end

if type -q flux
    flux completion fish > $__fish_config_dir/completions/flux.fish
end

if type -q kustomize
    kustomize completion fish > $__fish_config_dir/completions/kustomize.fish
end
