{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
#!/bin/bash

set -eufo pipefail

current_node_version=17

curl -fsSL https://deb.nodesource.com/setup_$current_node_version.x | sudo -E bash -
{{ end -}}
