{{ if (and ( eq .chezmoi.os "linux") .kubernetes) -}}
#!/bin/bash

{{   if (eq .chezmoi.osRelease.id "debian" "ubuntu") -}}
# install prerequisite packages
sudo apt-get update && sudo apt-get install -y apt-transport-https ca-certificates curl
# add keys
sudo curl -fsSLo /usr/share/keyrings/kubernetes-archive-keyring.gpg https://packages.cloud.google.com/apt/doc/apt-key.gpg
# add sources
echo "deb [signed-by=/usr/share/keyrings/kubernetes-archive-keyring.gpg] https://apt.kubernetes.io/ kubernetes-xenial main" | sudo tee /etc/apt/sources.list.d/kubernetes.list
# install packages
sudo apt-get update && sudo apt-get install -y kubectl

{{   else if (eq .chezmoi.osRelease.id "arch") -}}
sudo pacman -S --noconfirm kubectl
# remove flux if installed from AUR
flux_installed=$(pacman -Qs flux | grep 'flux-bin\|flux-go\|flux-git' | sed -n -e 's/^.*local.//p' | cut -d ' ' -f1)
for flux in $flux_installed; do
    sudo pacman -Rsc --noconfirm $flux
done
{{   end -}}

curl -s https://fluxcd.io/install.sh | sudo bash
{{ end -}}
