#!/usr/bin/env fish

if not type -q fisher
    curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher
end

fisher install patrickF1/fzf.fish
fisher install nickeb96/puffer-fish
fisher install budimanjojo/tmux.fish
fisher install jorgebucara/autopair.fish
fisher install gazorby/fish-abbreviation-tips
{{ if .kubernetes -}}
fisher install evanlucas/fish-kubectl-completions
{{ end -}}
