# kubectl
if type -q kubectl
  abbr k --position anywhere 'kubectl'
  abbr kgp --position anywhere 'kubectl get pods'
  abbr kgn --position anywhere 'kubectl get nodes'
  abbr kl 'kubectl logs'
  abbr kdp 'kubectl describe pod'
  abbr kdn 'kubectl describe node'
  abbr kx 'kubectl exec -it'
end

# git
if type -q git
  abbr g 'git'
  abbr ga 'git add .'
  abbr gaa 'git add --all'
  abbr gc 'git commit'
  abbr gcm 'git commit -m'
  abbr gs 'git status'
  abbr gp 'git push'
  abbr gpl 'git pull'
  abbr gl 'git log'
  abbr gd 'git diff'
  abbr gds 'git diff --staged'
  abbr gr 'git restore .'
  abbr grs 'git restore --staged .'
end

# apt
if type -q apt
{{- if ne .chezmoi.username "root" }}
  abbr apti 'sudo apt install'
  abbr aptr 'sudo apt remove'
  abbr aptu 'sudo apt update'
  abbr aptug 'sudo apt update && sudo apt upgrade'
{{- else }}
  abbr apti 'apt install'
  abbr aptr 'apt remove'
  abbr aptu 'apt update'
  abbr aptug 'apt update && sudo apt upgrade'
{{- end }}
end

# pacman
if type -q pacman
{{- if ne .chezmoi.username "root" }}
  abbr pacup 'sudo pacman -Syu'
  abbr pacin 'sudo pacman -S'
  abbr pacr 'sudo pacman -R'
{{- else }}
  abbr pacup 'pacman -Syu'
  abbr pacin 'pacman -S'
  abbr pacr 'pacman -R'
{{- end }}
end

# nvim
if type -q nvim
  abbr vi 'nvim'
  abbr vim 'nvim'
  abbr svi 'sudo nvim'
  abbr svim 'sudo nvim'
end

# chezmoi
if type -q chezmoi
  abbr c 'chezmoi'
  abbr ca 'chezmoi apply'
  abbr cu 'chezmoi update'
  abbr ce 'chezmoi edit'
  abbr cs 'chezmoi status'
  abbr cc 'chezmoi cd'
end

# flux
if type -q flux
  abbr f --position anywhere 'flux'
  abbr fgk --position anywhere 'flux get ks'
  abbr fsa 'flux suspend kustomization --all'
  abbr fra 'flux resume kustomization --all'
  abbr upf 'update_flux'
end

# talosctl
if type -q talosctl
  abbr t 'talosctl'
end

# talhelper
if type -q talhelper
  abbr th 'talhelper'
end

# docker-compose
if type -q docker-compose
  abbr dcupd 'docker-compose up -d'
  abbr dcdn 'docker-compose down'
  abbr dcl 'docker-compose logs'
  abbr dclf 'docker-compose logs -f'
  abbr dcpull 'docker-compose pull'
end

# the fuck
if type -q thefuck
  abbr fu 'fuck'
end

# hwatch
if type -q hwatch
  abbr w 'hwatch --'
end

# k9s
if type -q k9s
  abbr ks 'k9s'
end

# edit config files
abbr evim '$EDITOR $HOME/.vimrc'
abbr envim '$EDITOR $HOME/.config/nvim/init.vim'
abbr ezsh '$EDITOR $HOME/.zshrc'
abbr ebash '$EDITOR $HOME/.bashrc'
abbr efish '$EDITOR $__fish_config_dir/custom.d'
abbr etmux '$EDITOR $HOME/.tmux.conf'
abbr eala '$EDITOR $HOME/.config/alacritty/alacritty.yml'
abbr ei3 '$EDITOR $HOME/uuuu.i3/config'
abbr edunst '$EDITOR $HOME/.config/dunst'
abbr esway '$EDITOR $HOME/.config/sway/config'
abbr ewaybar '$EDITOR $HOME/.config/waybar/config'

# basic abbreviations
abbr cpr 'cp -rf'
abbr rmr 'rm -rf'
abbr md 'mkdir -p'
abbr rd 'rmdir'
if type -q eza
  abbr lsa 'eza -lag --git --icons --sort=type'
  abbr l 'eza -lag --git --icons --sort=type'
  abbr ll 'eza -l --icons --git --sort=type'
  abbr la 'eza -lag --git --icons --sort=type'
else
  abbr lsa 'ls -lah'
  abbr l 'ls -lah'
  abbr ll 'ls -lh'
  abbr la 'ls-lAh'
end
