{{ if eq .chezmoi.hostname "budiman-desktop" -}}
if status is-interactive
    if test -d /home/linuxbrew/.linuxbrew
        eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
    end
end

if test -d (brew --prefix)"/share/fish/completions"
    set -gx fish_complete_path (brew --prefix)/share/fish/completions $fish_complete_path
end

if test -d (brew --prefix)"/share/fish/vendor_completions.d"
    set -gx fish_complete_path (brew --prefix)/share/fish/vendor_completions.d $fish_complete_path
end
{{ end -}}
