* {
    border: none;
    border-radius: 0;
    font-family: "UbuntuMono Nerd Font";
    font-size: 16px;
    font-weight: bold;
    padding-top: 1px;
}

window#waybar {
    background-color: transparent;
    color: #C5C8C6;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    color: #C5C8C6;
    padding: 0 3px;
    border-radius: 5px;
}

#workspaces button.focused {
    color: #3971ED;
}

#workspaces button.urgent {
    color: #CC342B;
}

#mode {
    color: #C5C8C6;
    padding-left: 2px;
    box-shadow: inset 0 -1.5px;
}

#clock {
    color: #C5C8C6;
}

#network.down {
    color: #198844;
    padding-right: 8px;
}

#network.up {
    color: #3971ED;
    padding-right: 8px;
}

#disk.home {
    color: #FBA922;
    padding-right: 8px;
}

#disk.root {
    color: #CC342B;
    padding-right: 8px;
}

#custom-uname {
    color: #A36AC7;
    padding-right: 8px;
}

#pulseaudio {
    color: #C5C8C6;
}

#custom-update {
    color: #C5C8C6;
}

#custom-update.needsupdate {
    color: #CC342B;
}

#tray {
    color: #C5C8C6;
    padding-right: 8px;
    font-weight: normal;
}
