* {
    border: none;
    border-radius: 0;
    font-family: "UbuntuMono Nerd Font";
    font-size: 16px;
    font-weight: bold;
    padding-top: 1px;
}

button {
  min-height: 24px;
  min-width: 16px;
}

window#waybar {
    background-color: transparent;
    color: #C0CAF5;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    color: #C0CAF5;
    padding: 0 3px;
    border-radius: 5px;
}

#workspaces button.focused {
    color: #7AA2F7;
}

#workspaces button.urgent {
    color: #F7768E;
}

#mode {
    color: #C0CAF5;
    padding-left: 2px;
    box-shadow: inset 0 -1.5px;
}

#clock {
    color: #C0CAF5;
}

#network.down {
    color: #9ECE6A;
    padding-right: 8px;
}

#network.up {
    color: #7AA2F7;
    padding-right: 8px;
}

#disk.home {
    color: #E0AF68;
    padding-right: 8px;
}

#disk.root {
    color: #F7768E;
    padding-right: 8px;
}

#custom-uname {
    color: #BB9AF7;
    padding-right: 8px;
}

#pulseaudio {
    color: #C0CAF5;
    padding-right: 2px;
}

#custom-update {
    color: #C0CAF5;
    padding-right: 2px;
}

#custom-update.needsupdate {
    color: #F7768E;
    padding-right: 2px;
}

#tray {
    color: #C0CAF5;
    padding-right: 8px;
    font-weight: normal;
}
