# Fonts
font_family      UbuntuMono Nerd Font
bold_font        auto
italic_font      auto
bold_italic_font auto
font_size        12

# Cursor
cursor                #C5C8C6
cursor_text_color     #1D1F21
cursor_shape          underline
cursor_blink_interval -1

# Scrollback
scrollback_lines 10000

# Mouse
mouse_hide_wait -1
url_color       #FBA922
url_syle        curly

#Terminal bell
enable_audio_bell    no
visual_bell_duration 0

# Window layout
window_padding_width 4

# Color scheme
foreground         #C5C8C6
background         #1D1F21
background_opacity 0.9
color0             #1D1F21
color1             #CC342B
color2             #198844
color3             #FBA922
color4             #3971ED
color5             #A36AC7
color6             #3971ED
color7             #C5C8C6
color8             #1D1F21
color9             #CC342B
color10            #198844
color11            #FBA922
color12            #3971ED
color13            #A36AC7
color14            #3971ED
color15            #C5C8C6

# Advanced
allow_remote_control no
shell_integration    disabled
term                 xterm-256color

# Keyboard shortcuts
clear_all_shortcuts      yes
map ctrl+shift+c         copy_to_clipboard
map ctrl+shift+v         paste_from_selection
map ctrl+shift+equal     change_font_size all +2.0
map ctrl+shift+minus     change_font_size all -2.0
map ctrl+shift+backspace change_font_size all 0
map f5                   load_config_file
map ctrl+shift+escape    kitty_shell window
