# Fonts
font_family      UbuntuMono Nerd Font
bold_font        auto
italic_font      auto
bold_italic_font auto
font_size        12

# Cursor
cursor                #E8EAED
cursor_text_color     #202124
cursor_shape          underline
cursor_blink_interval -1

# Scrollback
scrollback_lines 10000

# Mouse
mouse_hide_wait -1
url_color       #FBBC04
url_style       curly

#Terminal bell
enable_audio_bell    no
visual_bell_duration 0

# Window layout
window_padding_width 4

# Color scheme
foreground         #E8EAED
background         #202124
background_opacity 0.9
color0             #202124
color1             #EA4335
color2             #34A853
color3             #FBBC04
color4             #4285F4
color5             #A142F4
color6             #24C1E0
color7             #E8EAED
color8             #5F6368
color9             #EA4335
color10            #34A853
color11            #FBBC05
color12            #4285F4
color13            #A142F4
color14            #24C1E0
color15            #FFFFFF

# Advanced
allow_remote_control no
shell_integration    disabled
term                 xterm-256color

# Keyboard shortcuts
clear_all_shortcuts      yes
map ctrl+shift+c         copy_to_clipboard
map ctrl+shift+v         paste_from_clipboard
map ctrl+shift+equal     change_font_size all +2.0
map ctrl+shift+minus     change_font_size all -2.0
map ctrl+shift+backspace change_font_size all 0
map f5                   load_config_file
map ctrl+shift+escape    kitty_shell window
