default_mode: locked
keybinds:
  unbind: true
  locked:
    - action: [SwitchToMode: Normal]
      key: [Alt: 'a']

  normal:
    - action: [NewPane: Right, SwitchToMode: Locked]
      key: [Alt: 's']
    - action: [NewPane: Down, SwitchToMode: Locked]
      key: [Alt: 'v']

    - action: [SwitchToMode: RenameTab]
      key: [Char: 'r']

    - action: [MoveFocus: Left]
      key: [Char: 'h']
    - action: [MoveFocus: Down]
      key: [Char: 'j']
    - action: [MoveFocus: Up]
      key: [Char: 'k']
    - action: [MoveFocus: Right]
      key: [Char: 'l']
    - action: [MovePane:]
      key: [Char: '>']

    - action: [Resize: Left]
      key: [Char: 'H']
    - action: [Resize: Down]
      key: [Char: 'J']
    - action: [Resize: Up]
      key: [Char: 'K']
    - action: [Resize: Right]
      key: [Char: 'L']

    - action: [GoToNextTab]
      key: [Alt: 'n']
    - action: [GoToPreviousTab]
      key: [Alt: 'p']

    - action: [NewTab: , SwitchToMode: Locked]
      key: [Char: 'c']
    - action: [CloseFocus, SwitchToMode: Locked]
      key: [Char: 'x']
    - action: [EditScrollback, SwitchToMode: Locked]
      key: [Char: 'a']

    - action: [SwitchToMode: Locked]
      key: [Esc, Char: ' ', Char: "\n"]

  renametab:
    - action: [SwitchToMode: Normal]
      key: [Alt: 'a']
    - action: [SwitchToMode: Locked]
      key: [Char: "\n"]
    - action: [TabNameInput: [27], SwitchToMode: Locked]
      key: [Esc]

themes:
  default:
    fg: "#C0CAF5"
    bg: "#1A1B26"
    black: "#15161E"
    red: "#F7768E"
    green: "#9ECE6A"
    yellow: "#E0AF68"
    blue: "#7AA2F7"
    magenta: "#BB9AF7"
    cyan: "#7DCFFF"
    white: "#C0CAF5"
    orange: "#FF9E64"

plugins:
  - path: tab-bar
    tag: tab-bar
  - path: status-bar
    tag: status-bar
  - path: strider
    tag: strider
  - path: compact-bar
    tag: compact-bar

ui:
  pane_frames:
    rounded_corners: true
