default_mode "normal"
keybinds clear-defaults=true {
  normal {
    bind "Alt a" { SwitchToMode "tmux"; }
    bind "Alt z" { SwitchToMode "locked"; }
  }

  locked {
    bind "Alt z" { SwitchToMode "tmux"; }
  }

  tmux {
    bind "Alt s" { NewPane "Right"; SwitchToMode "normal"; }
    bind "Alt v" { NewPane "Down"; SwitchToMode "normal"; }
    bind "r" { SwitchToMode "RenameTab"; }
    bind "h" { MoveFocus "Left"; }
    bind "j" { MoveFocus "Down"; }
    bind "k" { MoveFocus "Up"; }
    bind "l" { MoveFocus "Right"; }
    bind ">" { MovePane; }
    bind "H" { Resize "Left"; }
    bind "J" { Resize "Down"; }
    bind "K" { Resize "Up"; }
    bind "L" { Resize "Right"; }
    bind "Alt n" { GoToNextTab; }
    bind "Alt p" { GoToPreviousTab; }
    bind "c" { NewTab; SwitchToMode "normal"; }
    bind "x" { CloseFocus; SwitchToMode "normal"; }
    bind "a" { EditScrollback; SwitchToMode "normal"; }
    bind "Esc" "Space" "Enter" { SwitchToMode "normal"; }
  }

  RenameTab {
    bind "Alt a" { SwitchToMode "tmux"; }
    bind "Enter" { SwitchToMode "normal"; }
    bind "Esc" { UndoRenameTab; SwitchToMode "normal"; }
  }
}

themes {
  default {
    fg "#C0CAF5"
    bg "#1A1B26"
    black "#15161E"
    red "#F7768E"
    green "#9ECE6A"
    yellow "#E0AF68"
    blue "#7AA2F7"
    magenta "#BB9AF7"
    cyan "#7DCFFF"
    white "#C0CAF5"
    orange "#FF9E64"
  }
}

plugins {
  tab-bar { path "tab-bar"; }
  status-bar { path "status-bar"; }
  strider { path "strider"; }
  compact-bar { path "compact-bar"; }
}

ui {
  pane_frames {
    rounded_corners true
  }
}
