{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "debian" "ubuntu")) -}}
#!/bin/bash

echo -e "\033[0;32m>>>>> Begin Setting Up Nix Applications <<<<<\033[0m"

set -eufo pipefail

# This script will ensure the applications installed by Nix is known by the OS
# So `update-alternatives` program used by Debian based OS to open program can work properly

# Run this script whenever the content of the host configuration for this machine changes
# {{ include (print "../" "/home/" .chezmoi.username "/hosts/" .chezmoi.hostname ".nix") | sha256sum }}

function add_nix_app_to_update_alternative() {
  local program="{{ .chezmoi.homeDir }}/.nix-profile/bin/$1"
  local priority=$2
  local to_link="${3:-x-terminal-emulator}"

  local found
  found=$(update-alternatives --quiet --list "$to_link" | grep -x "$program" || true)

  # if program is not installed, proceed to remove it from the list
  # this is not really an efficient approach but there's no way to get `update-alternatives` to show binary that doesn't exist
  if [[ ! -x "$program" ]]; then
    sudo update-alternatives --quiet --remove "$to_link" "$program"
    return
  fi

  if [[ -n "$found" ]]; then
    local cur_priority
    cur_priority="$(update-alternatives --quiet --display "$to_link" | sed -n "s|^$program - priority \([0-9]\+\)$|\1|p")"
    if [ "$cur_priority" != "$priority" ]; then
      echo "updating $program priority as $to_link from $cur_priority to $priority"
      sudo update-alternatives --install "$(which "$to_link")" "$to_link" "$program" "$priority"
      return
    fi
  else
    echo "installing $program as $to_link with priority of $priority"
    sudo update-alternatives --install "$(which "$to_link")" "$to_link" "$program" "$priority"
    return
  fi
}

add_nix_app_to_update_alternative "contour" "9999"
add_nix_app_to_update_alternative "alacritty" "9998"
add_nix_app_to_update_alternative "kitty" "9997"
add_nix_app_to_update_alternative "wezterm" "9996"

echo -e "\033[0;32m>>>>> Finish Setting Up Nix Applications <<<<<\033[0m"
{{ end -}}
