#!/usr/bin/fish

echo -e "\033[0;32m>>>>> Begin Setting Up Fish Plugins <<<<<\033[0m"

# This script will run whenever there's an update in .config/fish/fish_plugins
# .config/fish/fish_plugins hash: {{ include "dot_config/private_fish/fish_plugins.tmpl" | sha256sum }}

fisher update

echo -e "\033[0;32m>>>>> Finish Setting Fish Plugins <<<<<\033[0m"
