window:
  padding:
    x: 10
    y: 10
scrolling:
  history: 10000
font:
  normal:
    family: UbuntuMono Nerd Font
    style: Regular
  bold:
    family: UbuntuMono Nerd Font
    style: Bold
  italic:
    family: UbuntuMono Nerd Font
    style: Italic
{{- if eq .chezmoi.hostname "budimanjojo-main" }}
  size: 13.0
{{- else }}
  size: 12.0
{{- end }}
draw_bold_text_with_bright_colors: false
colors:
  primary:
    background: '#1D1F21'
    foreground: '#C5C8C6'
  normal:
    black:   '#1D1F21'
    red:     '#CC342B'
    green:   '#198844'
    yellow:  '#FBA922'
    blue:    '#3971ED'
    magenta: '#A36AC7'
    cyan:    '#3971ED'
    white:   '#C5C8C6'
  bright:
    black:   '#969896'
    red:     '#CC342B'
    green:   '#198844'
    yellow:  '#FBA922'
    blue:    '#3971ED'
    magenta: '#A36AC7'
    cyan:    '#3971ED'
    white:   '#FFFFFF'
bell:
  duration: 0
background_opacity: 0.9
live_config_reload: true
key_bindings:
  - { key: V,               mods: Control|Shift, action: Paste                            }
  - { key: C,               mods: Control|Shift, action: Copy                             }
  - { key: Insert,          mods: Shift,         action: PasteSelection                   }
  - { key: Key0,            mods: Control,       action: ResetFontSize                    }
  - { key: Equals,          mods: Control,       action: IncreaseFontSize                 }
  - { key: NumpadAdd,       mods: Control,       action: IncreaseFontSize                 }
  - { key: NumpadSubtract,  mods: Control,       action: DecreaseFontSize                 }
  - { key: Minus,           mods: Control,       action: DecreaseFontSize                 }
  - { key: Paste,                                action: Paste                            }
  - { key: Copy,                                 action: Copy                             }
  - { key: L,               mods: Control,       action: ClearLogNotice                   }
  - { key: L,               mods: Control,       chars: "\x0c"                            }
  - { key: Home,            mods: Alt,           chars: "\x1b[1;3H"                       }
  - { key: Home,                                 chars: "\x1bOH",        mode: AppCursor  }
  - { key: Home,                                 chars: "\x1b[H",        mode: ~AppCursor }
  - { key: End,             mods: Alt,           chars: "\x1b[1;3F"                       }
  - { key: End,                                  chars: "\x1bOF",        mode: AppCursor  }
  - { key: End,                                  chars: "\x1b[F",        mode: ~AppCursor }
  - { key: PageUp,          mods: Shift,         action: ScrollPageUp,   mode: ~Alt       }
  - { key: PageUp,          mods: Shift,         chars: "\x1b[5;2~",     mode: Alt        }
  - { key: PageUp,          mods: Control,       chars: "\x1b[5;5~"                       }
  - { key: PageUp,          mods: Alt,           chars: "\x1b[5;3~"                       }
  - { key: PageUp,                               chars: "\x1b[5~"                         }
  - { key: PageDown,        mods: Shift,         action: ScrollPageDown, mode: ~Alt       }
  - { key: PageDown,        mods: Shift,         chars: "\x1b[6;2~",     mode: Alt        }
  - { key: PageDown,        mods: Control,       chars: "\x1b[6;5~"                       }
  - { key: PageDown,        mods: Alt,           chars: "\x1b[6;3~"                       }
  - { key: PageDown,                             chars: "\x1b[6~"                         }
  - { key: Insert,                               chars: "\x1b[2~"                         }
  - { key: Delete,                               chars: "\x1b[3~"                         }
  - { key: Left,                                 chars: "\x1b[D",        mode: ~AppCursor }
  - { key: Left,                                 chars: "\x1bOD",        mode: AppCursor  }
  - { key: Right,                                chars: "\x1b[C",        mode: ~AppCursor }
  - { key: Right,                                chars: "\x1bOC",        mode: AppCursor  }
  - { key: Up,                                   chars: "\x1b[A",        mode: ~AppCursor }
  - { key: Up,                                   chars: "\x1bOA",        mode: AppCursor  }
  - { key: Down,                                 chars: "\x1b[B",        mode: ~AppCursor }
  - { key: Down,                                 chars: "\x1bOB",        mode: AppCursor  }
  - { key: NumpadEnter,                          chars: "\n"                              }
