-- Workaround for hover not working when there is diagnostic float
-- https://www.reddit.com/r/neovim/comments/pg1o6k/neovim_lsp_hover_window_is_hidden_behind_line
function FixBufHover()
  vim.diagnostic.hide()
  vim.lsp.buf.hover()
  vim.diagnostic.show()
end
