{{ if (eq .chezmoi.os "linux") -}}
registries:
  - type: standard
    ref: v4.4.0    # renovate: depName=aquaproj/aqua-registry

packages:
  - name: twpayne/chezmoi@v2.33.5
  - name: junegunn/fzf@0.40.0
  - name: starship/starship@v1.14.2
  - name: ajeetdsouza/zoxide@v0.9.1
  - name: BurntSushi/ripgrep@13.0.0
  - name: sharkdp/fd@v8.7.0
  - name: sharkdp/bat@v0.23.0
  - name: ogham/exa@v0.10.1
  - name: blacknon/hwatch@0.3.10
  - name: neovim/neovim@v0.9.0
  - name: zellij-org/zellij@v0.36.0
  - name: gohugoio/hugo@v0.111.3
  - name: dandavison/delta@0.15.1
  - name: ms-jpq/sad@v0.4.22
{{-   if .agekey }}
  - name: FiloSottile/age@v1.1.1
{{-   end }}
{{-   if not .headless }}
  - name: golang/go@1.20.4
  - name: cli/cli@v2.29.0
  - name: go-task/task@v3.24.0
  - name: direnv/direnv@v2.32.2
  - name: goreleaser/goreleaser@v1.18.2
{{-   end }}
{{-   if .kubernetes }}
  - name: mikefarah/yq@v4.33.3
  - name: kubernetes/kubectl@v1.27.1
  - name: fluxcd/flux2@v0.41.2
  - name: kubernetes-sigs/kustomize@kustomize/v5.0.3
  - name: mozilla/sops@v3.7.3
  - name: helm/helm@v3.12.0
  - name: siderolabs/talos@v1.4.4
  - name: derailed/k9s@v0.27.4
  - name: budimanjojo/talhelper@v1.7.3
{{-   end }}
{{- end }}
