{{ if (eq .chezmoi.os "linux") -}}
registries:
  - type: standard
    ref: v3.94.0    # renovate: depName=aquaproj/aqua-registry

packages:
  - name: twpayne/chezmoi@v2.27.1
  - name: junegunn/fzf@0.35.0
  - name: starship/starship@v1.11.0
  - name: ajeetdsouza/zoxide@v0.8.3
  - name: BurntSushi/ripgrep@13.0.0
  - name: sharkdp/fd@v8.5.2
  - name: sharkdp/bat@v0.22.1
  - name: ogham/exa@v0.10.1
  - name: blacknon/hwatch@0.3.7
  - name: neovim/neovim@v0.8.0
  - name: zellij-org/zellij@v0.33.0
  - name: gohugoio/hugo@v0.105.0
{{-   if .agekey }}
  - name: FiloSottile/age@v1.0.0
{{-   end }}
{{-   if not .headless }}
  - name: golang/go@1.19.3
  - name: cli/cli@v2.20.0
  - name: go-task/task@v3.18.0
  - name: direnv/direnv@v2.32.1
  - name: goreleaser/goreleaser@v1.12.3
{{-   end }}
{{-   if .kubernetes }}
  - name: mikefarah/yq@v4.30.2
  - name: kubernetes/kubectl@v1.25.4
  - name: fluxcd/flux2@v0.36.0
  - name: kubernetes-sigs/kustomize@kustomize/v4.5.7
  - name: mozilla/sops@v3.7.3
  - name: helm/helm@v3.10.2
  - name: siderolabs/talos@v1.2.6
  - name: derailed/k9s@v0.26.7
  - name: budimanjojo/talhelper@v1.5.4
{{-   end }}
{{- end }}
