{{ if (eq .chezmoi.os "linux") -}}
registries:
  - type: standard
    ref: v3.150.0    # renovate: depName=aquaproj/aqua-registry

packages:
  - name: twpayne/chezmoi@v2.33.0
  - name: junegunn/fzf@0.39.0
  - name: starship/starship@v1.13.1
  - name: ajeetdsouza/zoxide@v0.9.0
  - name: BurntSushi/ripgrep@13.0.0
  - name: sharkdp/fd@v8.7.0
  - name: sharkdp/bat@v0.23.0
  - name: ogham/exa@v0.10.1
  - name: blacknon/hwatch@0.3.9
  - name: neovim/neovim@v0.8.3
  - name: zellij-org/zellij@v0.35.2
  - name: gohugoio/hugo@v0.111.3
  - name: dandavison/delta@0.15.1
  - name: ms-jpq/sad@v0.4.22
{{-   if .agekey }}
  - name: FiloSottile/age@v1.1.1
{{-   end }}
{{-   if not .headless }}
  - name: golang/go@1.20.3
  - name: cli/cli@v2.26.1
  - name: go-task/task@v3.23.0
  - name: direnv/direnv@v2.32.2
  - name: goreleaser/goreleaser@v1.16.2
{{-   end }}
{{-   if .kubernetes }}
  - name: mikefarah/yq@v4.33.2
  - name: kubernetes/kubectl@v1.26.3
  - name: fluxcd/flux2@v0.41.2
  - name: kubernetes-sigs/kustomize@kustomize/v5.0.1
  - name: mozilla/sops@v3.7.3
  - name: helm/helm@v3.11.2
  - name: siderolabs/talos@v1.3.7
  - name: derailed/k9s@v0.27.3
  - name: budimanjojo/talhelper@v1.6.4
{{-   end }}
{{- end }}
