---
name: Build Push Cache

on:
  workflow_dispatch: {}
  push:
    paths:
      - "system/**"
      - "home/**"
      - "packages/**"
      - "overlays/**"
      - "flake.lock"
      - "*nix"

jobs:
  define-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: cache
        with:
          path: /tmp/nix-cache
          key: nix-flake-inputs-${{ hashFiles('**/flake.lock') }}
          restore-keys: |
            nix-flake-inputs-

      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0

      - name: Import Nix store cache
        if: steps.cache.outputs.cache-hit == 'true'
        run: nix copy --all --no-check-sigs --from /tmp/nix-cache

      - name: Build and Export .#gc-keep to Nix store cache
        run: |
          # remove everything before copying so the cache doesn't grow over time
          sudo rm -rf /tmp/nix-cache
          nix copy --no-check-sigs --to /tmp/nix-cache .#gc-keep

      - id: set-matrix
        run: |
          set -Eeu
          matrix="$(nix eval --json '.#ghActions.matrix')"
          echo "matrix=$matrix" >> "$GITHUB_OUTPUT"

  build-push:
    name: ${{ matrix.attrset }}
    needs: define-matrix
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.define-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: actions/cache/restore@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        id: cache
        with:
          path: /tmp/nix-cache
          key: nix-flake-inputs-${{ hashFiles('**/flake.lock') }}

      - name: Brutally add more storage to our runner
        uses: wimpysworld/nothing-but-nix@dd6ef566962bfa4656301706035da97ebbe90e9b # main
        with:
          hatchet-protocol: carve

      - uses: cachix/install-nix-action@4e002c8ec80594ecd40e759629461e26c8abed15 # v31.9.0

      - name: Import Nix store cache
        if: steps.cache.outputs.cache-hit == 'true'
        run: nix copy --no-check-sigs --all --from /tmp/nix-cache

      - name: Login to Cachix
        uses: cachix/cachix-action@3ba601ff5bbb07c7220846facfa2cd81eeee15a1 # v16
        with:
          name: budimanjojo
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          skipPush: true

      - name: Build
        id: build
        run: |
          result=$(nix build .#${{ matrix.attrset }} --print-out-paths)
          echo "result=$result" >> $GITHUB_OUTPUT

      - name: Push
        run: cachix push budimanjojo ${{ steps.build.outputs.result }}
