---
name: Build Push Cache

on:
  workflow_dispatch: {}
  push:
    paths:
      - "system/**"
      - "home/**"
      - "packages/**"
      - "overlays/**"
      - "flake.lock"
      - "*nix"

jobs:
  define-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - uses: nix-community/cache-nix-action@135667ec418502fa5a3598af6fb9eb733888ce6a # v6.1.3
        id: cache
        with:
          primary-key: nix-flake-inputs-${{ hashFiles('**/*.nix', '**/flake.lock') }}
          restore-prefixes-first-match: nix-flake-inputs-
          gc-max-store-size-linux: 1G
          purge: true
          purge-prefixes: nix-flake-inputs-
          purge-created: 0
          purge-last-accessed: 0
          purge-primary-key: never
      - run: nix build .#gc-keep # this keeps stuffs from getting garbage collected
        if: steps.cache.outputs.hit-primary-key != 'true'

      - id: set-matrix
        run: |
          set -Eeu
          matrix="$(nix eval --json '.#ghActions.matrix')"
          echo "matrix=$matrix" >> "$GITHUB_OUTPUT"

  build-push:
    name: ${{ matrix.attrset }}
    needs: define-matrix
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix: ${{ fromJSON(needs.define-matrix.outputs.matrix) }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Brutally add more storage to our runner
        uses: wimpysworld/nothing-but-nix@10c936d9e46521bf923f75458e0cbd4fa309300d # main
        with:
          hatchet-protocol: carve

      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4

      - uses: nix-community/cache-nix-action/restore@135667ec418502fa5a3598af6fb9eb733888ce6a # v6.1.3
        with:
          primary-key: nix-flake-inputs-${{ hashFiles('**/*.nix', '**/flake.lock') }}

      - name: Login to Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: budimanjojo
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          skipPush: true

      - name: Build
        id: build
        run: |
          result=$(nix build .#${{ matrix.attrset }} --print-out-paths)
          echo "result=$result" >> $GITHUB_OUTPUT

      - name: Push
        run: cachix push budimanjojo ${{ steps.build.outputs.result }}
